.paragraf{font-style: italic;
  border-style: dashed;
  margin-right: 1000px;
  /*border: dashed;*/
}

sub {font-style: normal;
color: blue;
}
sup {
  font-style: normal;
  color: red;
}
span {font-style: italic;}
